<footer class="footer">
    <div class="row" style="margin-top: 600px; opacity: 0.3; filter: alpha(opacity=30); background-color: white">
        <div class="col-xs-6 col-md-4" style="text-align: left">
            <i class="fa fa-address-card-o fa-5x" aria-hidden="true" title="Contact"></i><br/>
            <a href="https://www.facebook.com/witold.krzeminski.3">
            <i class="fa fa-facebook-square fa-3x" style="color: #3b5998" aria-hidden="true" title="Facebook"></i></a>
            <a href="https://www.linkedin.com/in/witold-krzemi%C5%84ski-aa5368100">
            <i class="fa fa-linkedin-square fa-3x" style="color: #007bb6" aria-hidden="true" title="Linkedin"></i></a>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center; padding: 30px ">
            <p>&copy; 2017  Dablyou, unInc.</p>
        </div>
    </div>
</footer>