{% extends 'base.html' %}
{% load staticfiles %}


{% block styles %}
    <style>
         body {
             background: url("{% static "static_dirs/img/TLO.png" %}") no-repeat center center fixed;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
         }
        div.alert {  /* to messages */
            position: absolute;
            top: 55px;
            width: 100%;
            text-align: center;
            height: 50px;
            border: 2px solid #73AD21;
        }
     </style>
{% endblock %}

{% block body %}
{% include "navbar.html" %}
<br><br><br>
<div class="container">
  <div class="jumbotron">
      <div class="row">
          <div class="col-md-12 col-md-offset-3">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'albumbum/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" data-toggle="tooltip" title="W Album logo wystarczy podać linka do obrazka">Ok!</button>
                    </div>
                </div>
            </form>
          </div>
       </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}