{% extends 'base.html' %}
{% load staticfiles %}
{% block description %}Tablica{% endblock %}
{% block title %}Tablica{% endblock %}
{% block styles %}
    <style>
    body {
        background: url("{% static "static_dirs/img/TLO.png" %}") no-repeat center center fixed;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
     </style>
{% endblock %}


{% block body %}
{% include "navbar.html" %}

<div class="row">
    <div class="col-md-1">
        <div class="row">
            <br>
            <a href="{% url 'tablica:new_post' %}" class="btn btn-primary" role="button">
                <span class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></span>&nbsp;Dodaj wpis
            </a>
            <br>
            <br>
            <a href="{% url 'tablica:list_of_post_backend' %}" class="btn btn-default" role="button">
                <span class="fa fa-list-alt fa-1x" aria-hidden="true"></span>&nbsp;Twoje wpisy
            </a>
        </div>
    </div>
    <div class="col-md-11">
        <div class="container">
            <div class="page-header">
                <h1><strong><i class="fa fa-comments-o fa-4x" aria-hidden="true"></i> Tablica wpisów</strong></h1>
            </div>
            <h3>Ostatnio dodane posty:</h3>
            <br>
        </div>
        <div class="row">
            <div class="col-md-10">

                {% for post in posts %}

                    <div class="panel panel-info">
                        <div class="panel-body">
                            <h2><a href="{{ post.get_absolute_url }}"><i class="fa fa-comment-o fa-1x" aria-hidden="true"></i> {{ post.temat }}</a> </h2>
                        </div>
                        <div class="panel-body">
                            {{ post.tekst|truncatewords:40|linebreaks }}
                        </div>
                        <div class="panel-footer">
                            <small>Napisany przez: <strong>{{ post.author }}</strong>, dnia: {{ post.published }}, w kategorii
                                    <a href="{{ post.category.get_absolute_url }}"><strong>{{ post.category }}</strong></a> </small>
                        </div>
                    </div>

                {% endfor %}
                {% include "tablica/paginator.html" with page=posts %}
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <h3><p class="text-center">Kategorie:</p></h3>
                    {% for cat in categories %}
                    <ul>
                    <li><h4><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></h4></li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
